@page
@model RadocInvoice.Pages.AddClientModel

<h2>Add New Client</h2>

<form method="post">
    @Html.Partial("_ClientForm", Model.Client)

    <button type="submit" class="btn btn-primary">Add Client</button>
</form>