@page
@model RadocInvoice.Pages.AddInvoiceModel
@{
    ViewData["Title"] = "Create Invoice";
}

<h2>Create Invoice</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Invoice.ClientId"></label>
        <select asp-for="Invoice.ClientId" class="form-control" asp-items="Model.ClientList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Invoice.ServiceId"></label>
        <select asp-for="Invoice.ServiceId" class="form-control" asp-items="Model.ServiceList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Invoice.DoctorId"></label>
        <select asp-for="Invoice.DoctorId" class="form-control" asp-items="Model.DoctorList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Invoice.Quantity"></label>
        <input asp-for="Invoice.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Invoice.Price"></label>
        <input asp-for="Invoice.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Invoice.Date"></label>
        <input asp-for="Invoice.Date" class="form-control" type="date" id="invoiceDate" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>

<script>
    // script pt data facturii
    document.getElementById("invoiceDate").setAttribute("max", new Date().toISOString().split("T")[0]);
</script>
